header {
  /* Gray */
  background-color: #777777;
}

body {
  /* Good LASA Purple*/
  background-color: #8700ff;
}

h1 {
  color: white;
  text-align: center;
}

footer {
  /* Gray */
  background-color: #777777;
}
