nav {
  /* black */
  height: 400;
  background-color: #666666;
  color: #ffffff;
}

.dropbtn {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a{
  color: #ffffff;
  padding-left: 12px 16px;
  text-decoration: none;
  display:block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #8700ff
}

header {
  /* Gray */
  background-color: #777777;
}

body {
  /* Good LASA Purple
  background-color: #8700ff;
*/
  background-image: image("robot.JPG");
}

a:link, a:visited {
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #666666;
}

h1 {
  color: white;
  text-align: center;
}

footer {
  /* Gray */
  background-color: #777777;
}
